body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.icerik {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
}

.siparis-formu {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.siparis-formu h2 {
    color: #333;
}

.siparis-formu p {
    color: #666;
    line-height: 1.6;
}

button {
    background-color: #ffc93b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.resim img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.resim2 img {
    width: 230px;
    height: 300;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	
}
.icerik2 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
}

.siparis-formu2 {
 position: absolute; 
    top: 50px;
    right: 100px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.icerik3 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
}

.siparis-formu3 {
 position: absolute; 
    top: 345px;
    right:75px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.siparis-formu h2 {
    color: #333;
}

.siparis-formu p {
    color: #666;
    line-height: 1.6;
}
.resim3 img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 950px;
	top:370px;
}
.resim4 img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 850px;
	top:85px;


}
